*{margin: 0px;padding: 0px;box-sizing: border-box;}
ul,ol{
    list-style: none;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

ul>li{
    float: left;
    list-style: none;
    /* border: 1px solid red; */
    padding: 4px 0.5em;
    line-height: 32px;
}

ul{
    /* border: 1px solid green; */
    display: inline-block;
} 

img{max-width: 100%;}
.logo{
    background-color: antiquewhite;
    display: inline-block;
    margin-top: 8px;
}
.nav{
    float: right;
    margin-left: 20px;
    
}
.logo>img{
    height:26px ;
    /* width: 100px; */
    /* border: 1px solid red; */
    /*  */
    vertical-align: top;
    

}
header{
    background-color: gray;
}

.content{
    outline : 1px solid red;
    width: 800px;
    margin-left:auto;
    margin-right: auto;
}

.content>aside{
    outline: 1px solid green;
    width: 200px;
    height: 300px;
    float: left;
    background: #999;
    
}

.content>main{
    outline: 1px solid plum;
    height: 300px;
    width: 500px;
    float: left;
    background: #ccc;
    
}

.content>.ad{
    outline: 1px solid black;
    height: 300px;
    width: 100px;
    float: left;
    background: black
}

.imageList{
    outline: 1px solid red;
    width: 800px;
    margin-left:auto;
    margin-right: auto;
}

.imageList>.x>.image{
    outline: 1px solid black;
    width: 191px;
    height: 191px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 12px;
}

.imageList>.x>.image1{
    outline: 1px solid black;
    width: 191px;
    height: 191px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}


.imageList>.x{
    outline: 1px solid rgb(0, 0, 0);
    margin-right: -12px;
}
